<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Femilina</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#FAFAFA">
  <div class="p-3 px-md-4 mb-3 border-bottom shadow-sm" id="navbar">
    <div class="container d-flex flex-column flex-md-row align-items-center">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light"><a class="text-light" href="/">Femilina</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/upload">Upload</a>
        <a class="p-2 text-light" href="/">Support</a>
        <a class="p-2 text-light" href="/">My Account</a>
      </nav>
      <a class="btn btn-outline-light" href="/">Log In</a>
    </div>
  </div>

  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col">
            
    <div class="container p-4">
      <h1 class="display-4">Signs to Look For</h1>
      <div class="intro">
        <p class="lead">
          - New lump in the breast or underarm (armpit).<br>
- Thickening or swelling of part of the breast.<br>
- Irritation or dimpling of breast skin.<br>
- Redness or flaky skin in the nipple area or the breast.<br>
- Pulling in of the nipple or pain in the nipple area.<br>
- Any change in the size or the shape of the breast.<br>
- Pain in any area of the breast.<br>

  <br>*These are CDC guidelines for both men and women, if you see any of these symptoms, consult with a doctor immediately.If you need more information about this, you can contact the The Susan G. Komen® Breast Care Helpline: 1-877 GO KOMEN (1-877-465-6636) or email helpline@komen.org.
        </p>
      <br>
        
    </div>
    <div class="container p-4">
      <h1 class="display-4">Risk Factors</h1>
      <div class="row">
        <p class="lead">
          - Getting older<br>
          - Genetic mutations<br>
          - Reproductive history<br>
          - Having dense breasts<br>
          - Personal history of breast cancer or certain non-cancerous breast diseases<br>
          - Family history of breast or ovarian cancer<br>
          - Previous treatment using radiation therapy<br>
          - Exposure to the drug diethylstilbestrol (DES).<br>

          <br>These are the risk factors in men, in addition to the ones mentioned above.<br>
          - Klinefelter syndrome<br>
          - Liver disease<br>
          - Hormone therapy treatment<br>
          - Overweight and obesity<br>
          
        </p>	
      </div>
    </div>
    
    <div class="container p-4">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Support & Resources</h1>
          <p class="lead">We want to empower you. Please know that you are not alone in this battle. Here is a list of support groups and resources to help you.<br>
            CancerCare: http://www.cancercare.org/diagnosis/breast_cancer
          <br>
National Breast Cancer: https://www.nationalbreastcancer.org/about-breast-cancer/early-detection/breast-cancer-resources<br>
            Breast care: https://www.breastcare.org/national-breast-cancer-resources/<br>
            LLBC Resources: https://www.lbbc.org/get-support/breast-cancer-resources-and-support<br>
            Susan G. Komen® Breast Care: https://www.komen.org/support-resources/tools/#:~:text=The%20Susan%20G.,email%20helpline%40komen.org.
  
            
          </p>   
        </div>
        
      </div>
    </div>
    
  </main>
  <footer class="footer">
    <div class="container">
      <p class="float-right">
        <a style="color: #EC3B83;" href="#">Back to top</a>
      </p>
      <p>&copy; 2022 Femilina. All Rights Reserved.</p>
      <p>New to Bootstrap? <a style="color: #EC3B83;" href="">Visit the homepage</a> or read our <a style="color: #EC3B83;" href="">getting started guide</a>.</p>
    </div>
  </footer>
</body>
